.about-us div {
    margin-top: 2.375rem;

}

.about-us__title {
    color: var(--azul90);
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
}

.about-us__img {
    width: 40%;
    max-width: 132px;
    border-radius: 10px;
    float: left;
    margin: 0 .9375rem .9375rem 0;
}

.about-us__text {
    color: var(--azul90);
    margin-bottom: 1em;
}

@media screen and (min-width: 768px) {
    .about-us {
        padding-left: calc(6% + 4.8%);
        padding-right: calc(6% + 4.8%);
    }

    .about-us__title {
        /* padding: 0 16.26%; */
    }


    .about-us__img {
        width: 20%;
    }

}

@media screen and (min-width: 1024px) {
    .about-us {
        /* padding: 0 20.5%; */
    }

    .about-us__box {
        /* margin-bottom: 10rem; */
    }

    .about-us__title {
        /* margin-top: 2rem; */

    }

}