@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
    --azul20: #CCCDCF;
    --azul40: #9A9B9F;
    --azul80: #35383F;
    --azul90: #1C1F27;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    padding: 0 6%;
}

.pd-t-b {
    padding-top: 8%;
    padding-bottom: 8%;
}

.azul40-bg {
    background: var(--azul40);
}

.azul80-bg {
    background: var(--azul80);
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

.back-to-top {
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    background: var(--azul40);
    border: 1px solid black;
    color: black;
    right: 1rem;
    bottom: 1rem;
    transform: rotate(-90deg);
    border-radius: 50%;

    width: 3rem;
    height: 3rem;

}

@media screen and (min-width: 768px) {

    .back-to-top {
        width: 4rem;
        height: 4rem;
    }
}

@media screen and (min-width: 768px) {

    .back-to-top {
        width: 4rem;
        height: 4rem;
    }
}