.benefits {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.benefits__title {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 2.375rem;
}

.benefits div {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1.625rem;
}

.benefits__list {
    vertical-align: top;
    font-size: .875rem;
}

.benefits__list {
    display: inline-block;
    list-style: circle;
    width: 30%;
}

.benefits__list li:first-child {
    font-weight: bold;
}

.benefits__img {
    width: 60%;
    position: relative;
    right: 0;
}

.benefits__video {
    width: 100vw;
    height: 30vh;
}

@media screen and (min-width: 768px) {
    .benefits div {}

    .benefits__img {
        width: 43%;
    }
}