.benefits {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.benefits__title {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 2.375rem;
}

.benefits__box {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1.625rem;
}

.benefits__list {
    vertical-align: top;
    font-size: .875rem;
    width: 30%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* gap: .5rem; */
}


.benefits__list li:first-child {
    font-weight: bold;
}

.benefits__list li::before {
    content: '➝';
    margin-right: .5rem;
    font-weight: normal;
}

.benefits__img {
    /* min-width: 12.5rem; */
    width: 60%;
    /* max-width: 18.125rem; */
    aspect-ratio: auto 4 / 3;
    position: relative;
    right: 0;
}

.benefits__video {
    width: 100vw;
    max-width: 788px;
    aspect-ratio: auto 16 / 9;
}

@media screen and (min-width: 768px) {
    .benefits__list {
        font-size: 1rem;
    }

    .benefits__img {
        width: 43%;
    }
}

@media screen and (min-width: 1024px) {

    .benefits__img {
        width: 45%;
        max-width: 25.3125rem;
    }

    .benefits__list {
        font-size: 1.5rem;
    }

    .benefits__video {
        max-width: 560px;
    }
}