.header {
    position: absolute;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
    border-radius: 0px 0px 12px 12px;
}

.menu__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* IMAGE */
.header__logo {
    width: 3rem;
}

.header__logo-white {
    width: 3rem;
    display: none;
}

/* BURGER MENU */
.close-menu {
    position: absolute;
    opacity: 0;
    display: none;
}

.close-menu-label {
    cursor: pointer;
    position: relative;
    display: block;
    height: 22px;
    width: 30px;
}

.close-menu-label span {
    position: absolute;
    display: block;
    height: 3px;
    width: 100%;
    border-radius: 30px;
    background: black;
    transition: 0.5s ease-in-out;
}

.close-menu-label span:nth-child(1) {
    top: 0;
}

.close-menu-label span:nth-child(2) {
    top: 8px;
}

.close-menu-label span:nth-child(3) {
    top: 16px;
}

.close-menu:checked+.menu__container .close-menu-label span:nth-child(1) {
    transform: rotate(-225deg);
    top: 8px;
}

.close-menu:checked+.menu__container .close-menu-label span:nth-child(2) {
    width: 0;
    opacity: 0;
}

.close-menu:checked+.menu__container .close-menu-label span:nth-child(3) {
    transform: rotate(225deg);
    top: 8px;
}

/* MENU MOBILE */

.menu {
    height: 0;
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    transition: all .4s ease-in-out;
    text-align: center;

}

.menu-content {

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    font-size: 2rem;
}

/* × */
.close-menu:checked~.menu {

    margin-top: 1rem;
    height: 25vh;
    visibility: visible;
    opacity: 1;
}

/* LI */
.main-content li a {
    display: inline-block;
    position: relative;
    color: black;
    font-size: 2rem;

}

.main-content li a::after {
    content: '';
    position: absolute;
    width: 100%;
    /* transform: scaleX(0); */
    bottom: -.5rem;
    left: 0;
    height: 0.2rem;
    background: black;
    transform-origin: bottom right;
    transition: transform .25s ease-in-out;
    border-radius: 30px;
}

@media screen and (min-width: 768px) {
    .close-menu:checked~.menu {
        height: 15vh;
    }
}

@media screen and (min-width: 1024px) {

    .close-menu,
    .close-menu-label,
    .menu-content h1 {
        display: none;
    }

    .header {
        border-bottom: none;
        position: absolute;
        width: 100%;
        background: rgba(0, 0, 0, 0.3);
    }

    .header__logo {
        display: none;
    }

    .header__logo-white {
        display: block;
    }

    .menu {
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        visibility: visible;
        opacity: 1;
    }

    .main-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 448px;
    }

    .main-content li a {
        display: inline-block;
        position: relative;
        color: white;
        font-size: 2rem;

    }

    .main-content li a::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        bottom: -.5rem;
        left: 0;
        height: 0.2rem;
        background: white;
        transform-origin: bottom right;
        transition: transform .25s ease-in-out;
        border-radius: 30px;
    }

    .main-content li a:hover::after {
        transform: scaleX(1);
        transform-origin: bottom right;
    }
}