.intro {
    padding-top: 6.125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.intro__title {
    color: var(--azul20);
    font-size: 3.5rem;
    font-weight: 500;
}

.intro__text {
    color: var(--azul20);
    font-size: 1.125rem;
    margin: 2rem 2.5rem;
}

.intro__text strong {
    font-weight: bold;
}

.intro__button {
    display: block;
    width: 100%;
    padding: 1rem 0;
    background: var(--azul20);
    color: var(--azul90);


    font-size: 20px;
    font-weight: 600;

    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

@media screen and (min-width: 768px) {
    .intro__text {
        padding: 0 20px;
    }

    .intro__button {
        width: 22rem;
    }
}

@media screen and (min-width: 1024px) {
    .intro {
        background: url(/assets/img/index/Muller_80s_Barber_shop_classical_music_hot_towels_leather_chair_ac253a6c-60f3-407e-b24c-9c852328e3c2.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .intro__title,
    .intro__text {
        color: white;
    }

    .intro__title {
        font-size: 7rem;
    }

    .intro__text {
        padding: 0 149px;
        line-height: 2rem;
        font-size: 1.5rem;
    }

    .intro__button {
        width: 28rem;
    }

    .intro__button:hover {
        background: #9A9B9F;

    }

    .intro__button:active {
        background: #E6E7E7;
        box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.5);
    }




}