.container__title {
    font-weight: 700;
    font-size: 56px;
    margin-bottom: 2.5rem;
}

.products,
.products__cards,
.card,
.card__content {
    display: flex;
    flex-direction: column;
}

.products {
    text-align: center;
    align-items: center;
}

.products__cards {
    gap: 40px;
    align-items: stretch;
}

.card {

    padding: 10px 0;
    /* width: 21rem; */
    max-width: 27rem;
    height: 27rem;
    border-radius: 20px;
    border: 1px solid #000000;
    align-content: stretch;
}

.card__content {
    align-items: center;
    height: 100%;
}

.card__title {
    font-weight: 500;
    font-size: 32px;
}

.card__img {
    height: 15.625rem;
    width: 15.625rem;
}

.card__text {
    font-size: 16px;
    padding: 0 71px;
    margin-top: auto;
}

.card__price {
    font-weight: 500;
    font-size: 20px;
    margin-top: auto;
}

@media screen and (min-width: 768px) {
    .card__text {
        font-size: 1.25rem;
    }

    .card__price {

        font-size: 1.5rem;

    }
}